@import '../../scss/main.scss';

.header {
	background-color: $grey-1;
	height: $margin-top;
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
}

.container {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	flex: 1;
	color: $white-1;
	font-weight: 700;
}

.menu {
	flex: 1;
	display: flex;
	justify-content: flex-end;

	&__burger {
		font-size: 6px;
	}
}

.link {
	text-decoration: none;
	color: $white-1;
}