@import '../../../scss/main.scss';

.container {
	width: 100%;
	list-style: none;
	color: $white-1;
	letter-spacing: .5px;

	& > * {
		font-weight: 500;
		width: 100%;
		display: block;
		color: white;
		text-decoration: none;

		&:not(:last-child) {
		}
	}
}

.profile {
	display: flex;
	align-items: center;
	padding: 2em;

	&__image {
		width: 60px;
		height: 60px;
		background-color: white;
		border-radius: 50%;
		margin-right: 1em;
	}

	&__name {
		&__user {
			margin-bottom: 4px;
		}

		&__status {
			font-size: .8rem;
		}
	}
}

.links {
	padding: 1em 2em;
	// background-color: $grey-3;
	
	&__link {
		width: 100%;
		display: block;
		color: white;
		text-decoration: none;
		padding: 1em 0;
		cursor: pointer;
	}
}

.logout {
	// background-color: #D04743;
	padding: 1em 2em;
	background-color: transparent;
	width: 100%;
	border: none;
	outline: none;
	font-size: inherit;
	text-align: left;
	font-weight: 700;
}