@import './scss/main.scss';

.container {
	position: relative;
	background-color: $grey-2;
	color: $white-1;
	width: 100%;
	min-height: 100vh;
}

.main {
	width: 90%;
	margin: auto;
	min-height: calc(100% - #{$margin-top});
}

@media all and (min-width: 860px) {
	.main {
		width: 50%;
		max-width: calc(100% - 30% * 1px);
		padding: .5em 0;
	}
}