$white-1: #FFFFFF;
$white-2: #F5F6F7;
$white-3: #E2E6EC;

$grey-1: #21232B;
$grey-2: #2D3037;
$grey-3: #3D434A;
$grey-4: #727E8B;
$grey-5: #C1C0C8;

$green-1: #2B6953;
$green-2: #3C9273;
$green-3: #54B693;